*.iml
.gradle
.apk
/local.properties
/.idea*
.DS_Store
/build
/captures
gradle/
gradlew.bat
gradlew
.externalNativeBuild
app/app-prod-release.apk
app/prod/release/app-prod-release.apk
app/prod/
app/prod/*
app/dev/
app/dev/*

app/release/
